{% extends 'base.html' %}

{% block title %}
  visualisation countries
{% endblock %}

{% block content %}
  <div class="fig">
    {% if fig %}
      {{ fig | safe }}
    {% else %}
      <p>no data right now,load more</p>
    {% endif%}
  </div>
  <div class="title">
    <h1>top 5 most spreaded ages in VK</h1>
  </div>
  <div class="circleDiagram">
    {% if circleDiagram %}
      {{ circleDiagram | safe }}
    {% else %}
      <p>no data right now,load more</p>
    {% endif%}
  </div>
  <div class="AgeStatistics">
    <table class ="tableAgeStatistics" border = '1'>
      <caption>all ages by users </caption>
      <tr>
        <th>Age</th>
        <th>Amount</th>
      </tr>
      {% for i in allUsersAgeFilteredSorted %}
        {% if i.total != 0 %}
          <tr>
            <td>{{i.age}}</td>
            <td>{{i.total}}</td>
          </tr>
        {% endif %}
      {% empty %}
        no data right now,load more
      {% endfor %}
    </table>
  </div>
{% endblock%}
