{% extends 'base.html' %}

{% block title %}
  visualisation cities
{% endblock %}

{% block content %}
  <div class="title">
    <h1>top 5 cities by users in 'em </h1>
  </div>
  <div class="circleDiagram">
    {% if circleDiagram %}
      {{ circleDiagram | safe }}
    {% else %}
      <p>no data right now,load more</p>
    {% endif%}
  </div>
  <div class="cityStatistics">
    <table class ="tableStatistics" border = '1'>
      <caption>all cities by users in 'em</caption>
      <tr>
        <th>City</th>
        <th>Population</th>
      </tr>
      {% for i in allUsersInCities %}
        {% if i.total != 0 %}
          <tr>
            <td>{{i.city_title}}</td>
            <td>{{i.total}}</td>
          </tr>
        {% endif %}
      {% empty %}
        no data right now,load more
      {% endfor %}
    </table>
  </div>
{% endblock%}
